 body {
    margin: 0;
    padding: 0;
     background-image: url("./images/bg.jpg"); 
    background-repeat: no-repeat;            
    background-size: cover;                
    background-attachment: fixed;          
    background-position: center; 
  }
 
.header {
      color: #132972;
     padding: 15px;
     text-align: start;
}

 .header h4{
     font-weight: bolder;
 }

 .header i {
    font-size: 25px;
 }
 .header i:hover {
    color: white;
    cursor: pointer;
    font-size: 30px;
     transition: 0.3s;
 }

 .box {   
    width: 60%;
    background-color:  #111f4e ;
    color:  rgb(253, 216, 2);
    font-weight: bolder;
    margin-top: 25px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(10, 10, 10, 0.9);
  }
.card{
    background-color: rgb(255, 255, 251) ;
      color:   #111f4e ;
      
      padding-bottom: 5px;
       box-shadow: 0 4px 8px rgba(0, 8, 10, 0.9);
}

.card-header{
     background-color:  rgb(253, 216, 2) ;
}

.card-title{
  margin: 20px auto;
}

.btn{
    background-color:  rgb(253, 216, 2) ;
    color:  #111f4e;
      font-weight: bolder;
      border: none;
      padding: 10px 20px;
      margin-top: 30px !important;
      border-radius: 5px;
}

.btn:hover{
    background-color:  #111f4e ;
    color:  rgb(253, 216, 2);
    font-weight: bolder;
}
.card-title , .card-text{
  color:  #111f4e ;

}

.minibox{
    background-color:  #111f4e ;
    width: 60%;
     margin: auto;
    color:  rgb(253, 216, 2);
    font-weight: bolder;
    margin-top: 25px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(7, 7, 7, 0.9);
     padding: 10px;
}
