 body {
    margin: 0;
    padding: 0;
     background-image: url("./images/bg.jpg"); 
    background-repeat: no-repeat;            
    background-size: cover;                
    background-attachment: fixed;          
    background-position: center; 
  }
 
.header {
      color: #132972;
     padding: 15px;
     text-align: start;
}

 .header h4{
     font-weight: bolder;
 }

 .header i {
    font-size: 25px;
 }

 .box {   
    width: 60%;
    background-color:  #111f4e ;
    color:  rgb(253, 216, 2);
    font-weight: bolder;
    margin-top: 25px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(162, 229, 250, 0.9);
  }
.card{
    background-color: rgb(255, 255, 251) ;
      color:   #111f4e ;
}

.card-header{
     background-color:  rgb(253, 216, 2) ;
}



.btn{
    background-color:  rgb(253, 216, 2) ;
    color:  #111f4e;
}

.btn:hover{
    background-color:  #111f4e ;
    color:  rgb(253, 216, 2);
    font-weight: bolder;
}
.card-title , .card-text{
  color:  #111f4e ;

}

.minibox{
    background-color:  #111f4e ;
    color:  rgb(253, 216, 2);
    font-weight: bolder;
    margin-top: 25px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(7, 7, 7, 0.9);
     padding: 10px;
}
